# Node modules
node_modules/

# Environment files
.env
.env.*.local

# Build / output folders
dist/
build/

# Editor folders
.vscode/
.idea/

# Swap files
*.swp
*.swo

# Database files
prisma/dev.db
*.db

# Prisma generated client
/prisma/generated/
node_modules/.prisma/

# Lock files (optional if using pnpm)
pnpm-lock.yaml
